@charset "UTF-8";

/* Сброс стилей */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/***********************************/

/*Fonts*/

@font-face {
  font-display: swap;
  font-family: HelveticaNeueCyr;
  src: url(../fonts/Helvetica/HelveticaNeueCyr-Medium.eot);
  src: local("HelveticaNeueCyr-Medium"), url(../fonts/Helvetica/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Helvetica/HelveticaNeueCyr-Medium.woff) format("woff"), url(../fonts/Helvetica/HelveticaNeueCyr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: HelveticaNeueCyr;
  src: url(../fonts/Helvetica/HelveticaNeueCyr-Roman.eot);
  src: local("HelveticaNeueCyr-Roman"), url(../fonts/Helvetica/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"), url(../fonts/Helvetica/HelveticaNeueCyr-Roman.woff) format("woff"), url(../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: HelveticaNeueCyr;
  src: url(../fonts/Helvetica/HelveticaNeueCyr-Bold.eot);
  src: local("HelveticaNeueCyr-Bold"), url(../fonts/Helvetica/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Helvetica/HelveticaNeueCyr-Bold.woff) format("woff"), url(../fonts/Helvetica/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/fontawesome/webfonts/fa-brands-400.eot);
  src: url(../fonts/fontawesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome/webfonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fontawesome/webfonts/fa-brands-400.woff) format("woff"), url(../fonts/fontawesome/webfonts/fa-brands-400.ttf) format("truetype"), url(../fonts/fontawesome/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/fontawesome/webfonts/fa-regular-400.eot);
  src: url(../fonts/fontawesome/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fontawesome/webfonts/fa-regular-400.woff) format("woff"), url(../fonts/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fontawesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../fonts/fontawesome/webfonts/fa-solid-900.eot);
  src: url(../fonts/fontawesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"), url(../libs/fontawesome/webfonts/fa-solid-900.woff) format("woff"), url(../fonts/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}

/*/Fonts*/

:root {
  --green: #199525;
  --dark-green: #015114;
  --grey: #424242;
  --light-grey: #656565;
}

/* Правки */
.blogpage_wrapper nav.blogpage_breadcrumbs>ul:not([class]) li:first-child {
  margin: 0;
}

.blogpage_wrapper .leadform {
  padding-top: 30px;
  padding-bottom: 35px;
}

.section_padding {
  padding-bottom: 0;
  padding-top: 0;
}

/* .blogpage_paragraph-img_text p {
  margin: 15px 0;
} */

.blogpage_paragraph-img_text p:first-child,
.text-form_p p:first-child {
  margin-top: 0;
}

.blogpage_paragraph-img_text p:last-child,
.text-form_p p:last-child {
  margin-bottom: 0;
}

body blockquote {
  align-items: center;
}

/* Правки */


.section_img {
  /*max-width: 440px;*/
  /*max-height: 470px;*/
  width: 100%;
  height: 100%;
}
.section_img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: right;
}
body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  line-height: 1.7;
}

body a {
  color: var(--green);
}

.container-blog-page-new {
  margin: 0 auto;
  width: 100%;
  max-width: 1145px;
  position: relative;
}

#offerLead-bg {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow: auto;
  align-items: center;
  justify-content: center;

}

/* .offerLead.bpn-poopup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: auto;
} */

body.activeModal {
  overflow: hidden;
  margin-right: 15px;
}

.blogpage_wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

.blogpage_wrapper nav.blogpage_breadcrumbs {
  margin: 60px 0 30px;
}

.blogpage_wrapper nav.blogpage_breadcrumbs>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blogpage_wrapper nav.blogpage_breadcrumbs>ul li {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey);
}

/* .blogpage_wrapper nav.blogpage_breadcrumbs>ul li+li::before {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  color: var(--grey);
  margin: 0 10px;
} */

.blogpage_wrapper .blogpage_title {
  margin: 30px 0 50px;
}

.blogpage_wrapper .blogpage_title h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.blogpage_wrapper .blogpage_banner {
  margin: 50px 0 35px;
}
.blogpage_banner img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.blogpage_content p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--grey);
  margin: 30px 0;
}

/* .blogpage_content p:last-child {
  margin-bottom: 0;
} */


.blogpage_content h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  margin: 30px 0;
}

.blogpage_paragraph-img {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 30px;
  margin-bottom: 35px;
}
.blogpage_paragraph-img.reverse {
  grid-template-columns: 1.4fr 1fr;
}
.blogpage_paragraph-img.reverse .blogpage_paragraph-img_text {
  order: -1;
}
.info_blocks {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 200px;
}

.info_blocks .info_blocks-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  min-width: 280px;
  background-color: rgba(194, 219, 204, 0.3);
  border-radius: 3px;
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 26px 27px 34px 30px;
}

.quote {
  margin: 20px 0 30px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote p {
  position: relative;
  padding: 0 0 0 87px;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  margin: 20px 0;
}

.quote p::before {
  content: ' ';
  background-image: url(../../img/blog-page-new/quotes.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(194, 219, 204, 0.3);
  position: absolute;
  left: 0;
}

.section_list ul li {
  list-style-type: none;
  padding-left: 15px;
  position: relative;
}

.section_list ul li::before {
  content: '\26AC';
  color: var(--green);
  font-size: 20px;
  position: absolute;
  left: 0;
  top: -7px;

  border: none;
}

.section_list ol {
  counter-reset: listCounter;
}

.section_list ol li {
  position: relative;
  list-style-type: none;
  padding-left: 50px;
  margin-bottom: 30px;
}

.section_list ol li:before {
  counter-increment: listCounter;
  content: counter(listCounter);
  display: inline-block;
  background: rgba(194, 219, 204, 0.3);
  border-radius: 3px;
  color: #199525;
  font-size: 14px;
  width: 30px;
  height: 30px;
  position: absolute;
  line-height: 35px;
  text-align: center;
  top: 0px;
  left: 0;
}

.leadform .leadform_thanks {
  display: none;
  width: 100%;
  height: 100%;
}

.leadform .leadform_thanks p {
  font-size: 2em;
  text-align: center;
  margin: auto;
  line-height: 2em;
}

.leadform {
  background-color: #E9E9E9;
  width: 100%;
  min-height: 250px;
  padding: 30px 30px 35px 30px;
  margin: 30px 0;
  background-image: url(../../img/blog-page-new/wheat.png);
  background-position: right;
  background-repeat: no-repeat;
}


.leadform.leadform-small {
  max-width: 440px;
  height: 100%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.leadform.leadform-small .leadform_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* !!! */
.leadform.leadform-small .leadform_form input {
  max-width: 100%;
}

.leadform.leadform-small .leadform_form span input {
  margin: 0 0 20px 0;
  max-width: 100%;
}

/* .leadform.leadform-small .leadform_form input:last-child {
  margin: 0;
} */

.leadform h2 {
  margin-bottom: 15px;
  font-family: HelveticaNeueCyr;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

.leadform p {
  margin-bottom: 35px;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 70%;
  color: var(--light-grey);
}

/* !!! */
p.leadform-small_paragraph {
  max-width: 100%;
  margin: 0 0 30px;
}

.leadform .leadform_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.leadform_form span {
  width: 100%;
  margin-right: 15px;
}

.leadform input,
.leadform_form span input {
  width: 100%;
  max-width: 340px;
  min-width: 200px;
  height: 60px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  border: none;
  padding: 5px 10px 5px 20px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

/* Placeholder в формах*/
.leadform_form input::placeholder {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 18px;
}

/* !!! */
/* .leadform input:not(:last-child), */
/* .leadform_form span input {
  margin-right: 30px;
} */




.leadform input:focus {
  outline: none;
}

.leadform .submit_button {
  background-color: var(--dark-green);
  color: #fff;
  cursor: pointer;
  white-space: pre-wrap;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.float-right {
  margin: 0 0 15px 30px;
  float: right;
}

.float-left {
  margin: 0 30px 15px 0;
  float: left;
}

.section_list ol {
  counter-reset: listCounter;
}

.section_list ol li {
  position: relative;
  list-style-type: none;
  padding-left: 50px;
  margin-bottom: 30px;
}

.section_list ol li:before {
  counter-increment: listCounter;
  content: counter(listCounter);
  display: inline-block;
  background: rgba(194, 219, 204, 0.3);
  border-radius: 3px;
  color: #199525;
  font-size: 14px;
  width: 30px;
  height: 30px;
  position: absolute;
  line-height: 35px;
  text-align: center;
  top: 0px;
  left: 0;
}

.gallery-projects {
  width: 100%;
  min-height: 450px;
  background-color: #f9f9f9;
  padding: 30px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.gallery-projects .gallery-projects_title {
  margin: 0 0 7px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.gallery-projects .gallery-projects_subtitle {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 28px;
}

.gallery-projects .gallery-projects_items {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-columns: minmax(300px, 1.2fr) minmax(400px, auto);
  grid-gap: 30px;
  border-radius: 3px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-projects_items .project-video,
.gallery-projects_items .project-gallery-main {
  height: 100% !important;
  min-height: inherit !important;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-main {
  width: 100%;
  height: 100%;
  max-height: 300px;
  border-radius: 3px;
  background-size: cover;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-main .play-button {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0;
  cursor: pointer;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-title {
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 400px;
  max-height: 120px;
  overflow: hidden;
  margin: 10px 20px;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-list {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  grid-gap: 20px;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 136px;
  max-height: 87px;
  height: 100%;
  width: 100%;
}

.gallery-projects .gallery-projects_items .gallery-projects_items-list img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.videoplayer {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.videoplayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videogallery .videogallery_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 33px;
  margin: 30px 0;
}

.videogallery .videogallery_wrapper .videogallery_card {
  max-width: 360px;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.videogallery .videogallery_wrapper .videogallery_card .videogallery_card-title p {
  color: #000;
  margin: 20px 0 5px 0;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.videogallery .videogallery_wrapper .videogallery_card .videogallery_card-video {
  max-width: 360px;
  width: 100%;
  height: 235px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video-wrapper .videogallery_card-playbutton {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #015114;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offerLead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-width: 400px;
  min-height: 590px;
  margin: 30px 0;
  position: relative;
}

.offerLead .offerLead-content {
  height: auto;
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.offerLead .offerLead-content .offerLead-title {
  max-width: 350px;
  font-family: HelveticaNeueCyr;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.offerLead .offerLead-content .offerLead-text {
  max-width: 325px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.offerLead .offerLead-content .offerLead-btn {
  width: 235px;
  height: 53px;
  background-color: #fff;
  border: 2px solid var(--green);
  border-radius: 3px;
  color: var(--grey);
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative;
}

.offerLead .offerLead-content .offerLead-btn:hover {
  background-color: var(--green);
  color: #fff;
  -webkit-box-pack: space-or;
  -ms-flex-pack: space-or;
  justify-content: space-or;
}

.offerLead .offerLead-content .offerLead-btn::after {
  content: url(../../img/blog-page-new/arrow-right.svg);
  position: absolute;
  right: -85px;
  width: 40px;
  height: 27px;
}


.offerLead-form {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(198, 198, 198, 0.46);
  box-shadow: 0px 20px 40px rgba(198, 198, 198, 0.46);
  border-radius: 3px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 30px;
  width: 382px;
  height: auto;
  background-image: url(../../img/blog-page-new/wheat.png);
  background-position: center right;
  background-repeat: no-repeat;
  z-index: 101;
  flex-shrink: 0;
  /* position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

div.bpn-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 100;
}


.offerLead-form .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offerLead-form .offerLead-form_title {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.offerLead-form .offerLead-form_text {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #656565;
}

.offerLead-form .leadform_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 100%;
}

.offerLead-form input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  border: none;
  padding: 5px 10px 5px 20px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.offerLead-form input:focus {
  outline: none;
}

.offerLead-form .submit_button {
  background-color: var(--dark-green);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}

.offerLead-form .submit_button:hover {
  background-color: var(--green);
}

.submit_button:hover {
  background-color: var(--green);
}

.sharebuttons {
  margin: 30px 30px 30px 0;
}

.lastnews {
  margin: 30px 0;
  min-height: 400px;
}

.lastnews a {
  color: var(--dark-green);
}

.lastnews .lastnews_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lastnews .section_title {
  margin: 30px 0;
}

.lastnews .news {
  font-size: 14px;
}

.lastnews .lastnews_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.lastnews .lastnews_card {
  max-width: 440px;
  min-width: 300px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.lastnews .lastnews_card-img {
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 144px;
  border-radius: 3px;
}

.lastnews .lastnews_card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  margin: 0 10px 0 30px;
}

.lastnews .lastnews_card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.lastnews .lastnews_card-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.last-news.container.newBlogPage {
  padding-left: 0;
  padding-right: 0;
}


.offerLead-form span.popup-close::before {
  content: "\f00d";
  position: absolute;
  top: 2%;
  right: 7%;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 25px;
  color: #000;
  z-index: 102;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/*============= Media ==============*/

@media screen and (max-width: 425px) {
  .blogpage_wrapper {
    padding: 0px 20px;
  }

  .leadform .submit_button {

    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

  }

  .blogpage_wrapper nav.blogpage_breadcrumbs {
    margin: 20px 0;
  }

  .blogpage_wrapper nav.blogpage_breadcrumbs ul li {
    font-size: 14px;
  }

  .blogpage_wrapper .blogpage_title {
    margin: 20px 0;
  }

  .blogpage_wrapper .blogpage_title h1 {
    font-size: 26px;
    line-height: 50px;
  }

  .blogpage_wrapper .blogpage_banner {
    margin: 20px 0;
  }

  .blogpage_wrapper .blogpage_content h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    margin: 20px 0;
  }

  .blogpage_wrapper .blogpage_content p {
    margin: 20px 0;
  }

  .blogpage_paragraph-img_text p:first-child {
    margin-top: 0;
  }

  .blogpage_wrapper .leadform {
    padding: 20px;
    text-align: center;
  }

  .blogpage_wrapper .leadform .leadform_wrapper h2 {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
  }

  .blogpage_wrapper .leadform .leadform_wrapper p {
    line-height: 24px;
    color: #656565;
    font-size: 12px;
    text-align: center;
    max-width: 100%;
  }

  .blogpage_wrapper .leadform .leadform_wrapper .leadform_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* !!! */
  .blogpage_wrapper .leadform .leadform_wrapper .leadform_form input,
  .blogpage_wrapper .leadform .leadform_wrapper .leadform_form span input {
    margin: 15px 0;
  }

  .blogpage_wrapper .gallery-projects {
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blogpage_wrapper .gallery-projects h3,
  .blogpage_wrapper .gallery-projects p {
    text-align: center;
    margin: 15px 0;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .play-button {
    width: 60px;
    height: 60px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .play-button img {
    height: 30px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .mainItem-title {
    font-size: 14px;
    line-height: 16px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }

  .blogpage_wrapper .videogallery .videogallery_wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .blogpage_wrapper .offerLead {
    max-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    min-width: auto;
    min-height: auto;
  }

  .blogpage_wrapper .offerLead .offerLead-content .offerLead-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    margin: 20px 0 0 0;
  }

  .blogpage_wrapper .offerLead .offerLead-content .offerLead-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey);
    margin: 20px 0;
  }

  .blogpage_wrapper .offerLead .offerLead-content button.offerLead-btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .blogpage_wrapper .offerLead .offerLead-content button.offerLead-btn::after {
    content: '';
  }

  .blogpage_wrapper .offerLead-form {
    width: 100vw;
    height: 100vh;
  }



  .blogpage_wrapper .lastnews .lastnews_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .blogpage_wrapper .lastnews .lastnews_content {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {

  .float-right,
  .float-left {
    margin: auto;
    float: none;
  }

  .section_img {
    width: 100%;
    height: auto;
  }

  h3.section_title {
    margin: 30px 0;
  }

  .blogpage_wrapper {
    padding: 0px 20px;
  }

  .blogpage_wrapper nav.blogpage_breadcrumbs {
    margin: 20px 0;
  }

  .blogpage_wrapper nav.blogpage_breadcrumbs ul li {
    font-size: 14px;
  }

  .blogpage_wrapper .leadform {
    padding: 20px 20px 25px 20px;
  }

  .blogpage_wrapper .leadform.leadform-small {
    max-width: 100%;
    min-height: auto;
  }

  .blogpage_wrapper .leadform .leadform_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* !!! */
  .blogpage_wrapper .leadform .leadform_form input,
  .blogpage_wrapper .leadform .leadform_form span input {
    margin: 15px 0;
    max-width: 100%;
  }

  .blogpage_wrapper .gallery-projects {
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blogpage_wrapper .gallery-projects h3,
  .blogpage_wrapper .gallery-projects p {
    text-align: center;
    margin: 15px 0;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
    width: 100%;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main {
    max-height: 100%;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .play-button {
    width: 60px;
    height: 60px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .play-button img {
    height: 30px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-main .mainItem-wrapper .mainItem-title {
    font-size: 14px;
    line-height: 16px;
  }



  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-list a {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    max-height: inherit;
  }

  .blogpage_wrapper .videogallery .videogallery_wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
  }

  .blogpage_wrapper .videogallery .videogallery_wrapper .videogallery_card {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
  }

  .blogpage_wrapper .videogallery .videogallery_wrapper .videogallery_card .videogallery_card-video {
    max-width: 100%;
    height: 100%;
  }

  .blogpage_wrapper .offerLead {
    max-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    min-width: auto;
    min-height: auto;
  }

  .blogpage_wrapper .offerLead .offerLead-content {
    max-width: 100%;
  }

  .blogpage_wrapper .offerLead .offerLead-content .offerLead-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    margin: 20px 0 0 0;
    max-width: 100%;
  }

  .blogpage_wrapper .offerLead .offerLead-content .offerLead-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey);
    max-width: 100%;
    margin: 30px 0;
  }

  .blogpage_wrapper .offerLead .offerLead-content button.offerLead-btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .blogpage_wrapper .offerLead .offerLead-content button.offerLead-btn::after {
    content: '';
  }

  .blogpage_wrapper .offerLead .offerLead-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .blogpage_wrapper .lastnews .lastnews_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .blogpage_wrapper .lastnews .lastnews_card {
    max-width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .blogpage_wrapper .lastnews .lastnews_card .lastnews_card-info {
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {




  .blogpage_wrapper .blogpage_title h1 {
    font-size: 32px;
    line-height: 34px;
  }
}


@media (max-width: 1024px) {

  .blogpage_paragraph-img,.blogpage_paragraph-img.reverse {
    grid-template-columns: 100%;
    gap: 20px;
  }

  .section_img {
    margin: 0 auto;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }




}

@media (max-width:768px) {
  .blogpage_wrapper .blogpage_title {
    margin: 20px 0 30px;
  }

  .blogpage_wrapper .gallery-projects .gallery-projects_items .gallery-projects_items-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .offerLead-form {
    width: 100vw;
    height: 100vh;
  }
}




.webp .quote p::before {
  background-image: url(../../img/blog-page-new/quotes.webp);
}

.webp .leadform {
  background-image: url(../../img/blog-page-new/wheat.webp);
}

.webp .offerLead-form {
  background-image: url(../../img/blog-page-new/wheat.webp);
}




.text-form {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;

}

.text-form>.leadform {
  margin: 0;
}

@media (max-width:1210px) {
  .text-form {
    grid-template-columns: auto;
  }

  .leadform.leadform-small {
    max-width: 100%;
  }
}

div.popup-close {
  width: 100%;
  height: 100%;
}