@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
input, textarea
  outline: none
  &:focus
    color: #7c7c7c
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: $white
::-webkit-scrollbar-thumb
  background: #5f61a4
::-webkit-scrollbar-thumb:hover
  background: #555
*
  margin: 0
  padding: 0
ul
  list-style-type: none
ol:not([class])
  padding-left: 65px
a:not([class])
  text-decoration: underline
button
  @include reset-button
  cursor: pointer
body
  min-width: 320px
  max-width: 1920px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: #565656
  background-color: $white
  font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif
  letter-spacing: 0.02em
  @include font(300,14px,24px)
  a
    color: #565656
  a:hover
    color: #28cdff
  a:active
    color: #28cdff
  blockquote
    background: #FAFAFF
    border-radius: 10px
    border: 0
    padding: 30px
    color: #000000
    font-size: 16px
    margin: 0
    &::before
      content: '”'
      color: #8888D3
      font-size: 48px
      display: block
      line-height: 25px
  section
    padding-bottom: 50px !important
  p
    margin-bottom: 30px
//Titles
.h3-title
  margin: 1.9466666667rem 0 1.168rem 0
.h4-title
  margin: 1.52rem 0 .912rem 0
.h5-title
  margin: 1.0933333333rem 0 .656rem 0
h1
  @include font(bold,36px,36px)
h2
  @include font(bold,36px,40px)
h3,.h3-title
  @include font(bold,24px,24px)
h4,.h4-title
  @include font(bold,18px,18px)
h5,.h5-title
  @include font(normal,12px,12px)
h6
  @include font(normal,10px,10px)
b,strong
  font-weight: bold
img
  max-width: 100%
  height: auto
.hidden
  display: none !important
#header
  position: relative
  z-index: 2
#main,#footer,#header
  width: 100%
// containers
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  justify-content: space-between
.container-fluid
  min-width: 320px
  padding: 0 30px
  width: 100%
  max-width: 1500px
  margin: 0 auto
.container
  min-width: 320px
  width: 100%
  max-width: 1380px
  padding: 0 30px
  margin: 0 auto

@import 'media'