@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
input, textarea
  outline: none
  &:focus
    color: #7c7c7c
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: $white
::-webkit-scrollbar-thumb
  background: #00542C
::-webkit-scrollbar-thumb:hover
  background: #555
*
  margin: 0
  padding: 0
ul
  list-style-type: none
ul:not([class]) li,ol:not([class]) li
  margin-bottom: 25px
ol:not([class])
  counter-reset: myCounter
  li
    @include list-type-none
    padding-left: 50px
    position: relative
    &:before
      counter-increment: myCounter
      content: counter(myCounter)
      display: inline-block
      background: rgba(194, 219, 204, 0.3)
      border-radius: 3px
      color: #199525
      font-size: 14px
      width: 30px
      height: 30px
      position: absolute
      line-height: 35px
      text-align: center
      top: 0
      left: 0
ul:not([class])
  li:first-child
    margin-top: 25px
  li
    @include list-type-none
    position: relative
    padding-left: 24px
    &:before
      content: ''
      width: 7px
      height: 7px
      display: block
      position: absolute
      top: 35%
      left: 0
      border-radius: 50%
      border: 2px solid #199525
a:not([class])
  text-decoration: underline
button
  @include reset-button
  cursor: pointer
section[class]
  padding-bottom: 60px
  padding-top: 60px
section.banner-p-bottom
  padding-bottom: 0
section.banner-p-top
  padding-top: 0
body
  min-width: 320px
  max-width: 1980px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: $default
  background-color: $white
  font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif
  letter-spacing: 0.02em
  @include font(300,14px,24px)
  a
    color: #199525
  a:hover
    color: #3eb54b
  a:active
    color: #3eb54b
  blockquote
    display: grid
    grid-template-columns: 60px 1fr
    grid-gap: 25px
    &::before
      content: '”'
      display: block
      width: 60px
      height: 60px
      text-align: center
      color: #199525
      font-size: 6em
      border-radius: 50%
      background: #efefef
      line-height: 105px
  p
    margin-bottom: 30px
//Titles
h1,h2,h3,h4,h5,.h1-title,.h2-b-title,.h3-title,.h4-title,.h5-title,blockquote
  margin: 10px 0
.h2-b-title
  color: #000000
  font-size: 48px
  line-height: 28px
  margin-bottom: 20px
.h3-title
  margin: 1.9466666667rem 0 1.168rem 0
.h4-title
  margin: 1.52rem 0 .912rem 0
.h5-title
  margin: 1.0933333333rem 0 .656rem 0
.subtitle
  margin-bottom: 6px
.info-title
  margin-top: 0
h1,.h1-title
  @include font(bold,30px,30px)
  color: $black
h2,.h2-title
  @include font(bold,24px,28px)
  color: $black
h3,.h3-title
  @include font(bold,18px,18px)
h4,.h4-title
  @include font(bold,16px,16px)
h5,.h5-title
  @include font(normal,14px,28px)
h6
  @include font(normal,12px,10px)
b,strong
  font-weight: bold
img
  max-width: 100%
  height: auto
.title
  font-size: 72px
  line-height: 72px
.title-center
  text-align: center
.hidden
  display: none !important
#header
  position: relative
  z-index: 2
#main,#footer,#header
  width: 100%
section.grey-bg,div.grey-bg
  background: #F4F4F4
section.white-bg,div.white-bg
  background: $white
.mobile-block
  display: none !important
// containers
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.container-fluid
  padding: 0 5px
  max-width: 1500px
  margin: 0 auto
.container
  max-width: 1380px
  padding: 0 30px
  margin: 0 auto
//Btn settings
.btn
  display: block
  cursor: pointer
  width: 293px
  height: 60px
  line-height: 60px
  background-color: #fff
  border-radius: 3px
  border: 2px solid transparent
  text-align: center
  text-transform: uppercase
  color: #595959
  font-weight: bold
.btn-link
  border-color: #FCBD6D
  text-decoration: none
  &:hover
    background: #FCBD6D
    color: $white
.btn-link-green
  border: 2px solid #199525
  border-radius: 3px
  text-decoration: none
  &:hover
    background: #199525
    color: $white
.more:not(.alm-load-more-btn)
  display: block
  width: 40px
  height: 27px
  background: url("../img/icons/left-orange.svg") no-repeat center/100%
.btn-load-more
  margin: 20px auto
  &.done
    background: #e0e0e0
    border: 1px solid #e0e0e0
    color: $white
.toggle-nav
  display: none
//Youtube video
.youtube
  width: 100%
  height: 100%
  transition: all 200ms ease-out
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  background-size: cover
  background-position: center
  border-radius: 3px
  overflow: hidden
  .play
    background: center/30px no-repeat url('../img/icons/play-white.svg') #015114
    width: 98px
    height: 98px
    border-radius: 50%
  .youtube-text
    font-weight: bold
    font-size: 24px
    line-height: 28px
    width: 100%
    color: $black
    margin: 30px auto
.youtube-container
  justify-content: center
  width: 100%
/* Header */
#header
  background: linear-gradient(180deg, #00542C 0%, rgba(0, 84, 44, 0) 100%), linear-gradient(90deg, #00542C 0%, rgba(0, 84, 44, 0) 42.56%), linear-gradient(0deg, rgba(0, 84, 44, 0.5), rgba(0, 84, 44, 0.5)), url('../img/_src/header/bg.png') no-repeat center/cover
  padding-top: 40px
  padding-bottom: 40px
  position: relative
#header.mainHeader
  background: transparent
.header-container
  grid-template-columns: 1fr 1fr 2fr 1fr
  grid-gap: 5px
.logo
  align-items: center
  img
    max-width: 200px
.product-menu-container
  border-radius: 3px
  width: 236px
  height: 45px
  line-height: 45px
  border: 2px solid #FCBD6D
  background-color: transparent
  grid-template-columns: 50px 1fr
  cursor: pointer
.toggle-menu,.toggle-blog-menu
  flex-direction: column
  justify-content: center
  align-content: center
  position: relative
  .toggle-dec
    display: block
    height: 3px
    width: 14px
    background: #FCBD6D
    border-radius: 1px
    margin-bottom: 2px
    transition: all 500ms ease-in-out
.toggle-title
  color: #FFFFFF
  text-transform: uppercase
.product-menu-container.active
  .toggle-dec:nth-of-type(2)
    display: none
  .toggle-dec:nth-of-type(1)
    transform: rotate(50deg)
  .toggle-dec:nth-of-type(3)
    transform: rotate(-50deg)
    margin-top: -5px
.nav-menu
  justify-content: center
  align-content: center
.nav-menu-item
  margin-right: 4%
  a
    color: #fff
    text-decoration: none
.header-contact
  align-items: center
  justify-content: flex-end
.mobile-icon
  width: 35px
  height: 35px
  border-radius: 3px
  color: #fff
  line-height: 35px
  text-align: center
  margin-right: 14px
  text-decoration: none
  background: url('../img/icons/tel.svg') #19954A  no-repeat center/50%
.header-contact-tel
  a
    display: block
    text-decoration: none
    font-weight: bold
    font-size: 18px
    line-height: 18px
    color: #FFFFFF
.header-mobile
  display: none
.header-contact-text
  display: block
  font-size: 12px
  line-height: 12px
  text-align: right
  color: #FCBD6D
  cursor: pointer
.product-menu-wrapper
  display: none
  position: absolute
  z-index: 10
  background-color: $white
  left: 0
  right: 0
  top: 125px
  width: 100%
  padding-top: 30px
  padding-bottom: 30px
  &>.grid-container
    grid-template-columns: repeat(auto-fit,minmax(200px,320px))
    justify-content: space-between
.product-menu-title
  color: $black
  margin-bottom: 15px
  a
    color: $black
    text-decoration: none
    font-weight: bold
.product-menu-list-item,.product-links-item
  margin-bottom: 5px
  color: $black
  &>a
    color: $black
    text-decoration: none
    padding-bottom: 10px
.submenu,.submenu-links
  padding: 5px 0
.submenu-item,.submenu-links-item
  position: relative
  a
    color: #C8C8C8
    font-size: 12px
    line-height: 24px
    text-decoration: none
  &::before
    content: '—'
    color: #C8C8C8
    font-size: 12px
    margin-right: 5px
/* Main Banner */
section.main-banner
  padding-bottom: 0
  padding-top: 1px
.main-banner
  margin-top: -190px
  color: $white
  .title
    margin-top: 406px
    color: $white
    text-shadow: 0 5px 3px rgba(0, 44, 10, 0.3)
.banner-advantages-container
  &>.grid-container
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
.banner-advantages-container
  margin-top: 130px
  border-top: 1px solid rgba(255, 255, 255, 0.2)
.banner-advantages-item
  padding: 40px 15px
  grid-template-columns: 15px 1fr
  grid-gap: 15px
  .fa-star
    color: #FCBD6D
.banner-advantages-item:not(:last-of-type)
  border-right: 1px solid rgba(255, 255, 255, 0.2)
.banner-advantages-title
  margin-top: 0
  margin-bottom: 25px
.banner-advantages-text
  margin-bottom: 0
/* Catalog */
section.catalog
  padding-bottom: 0
.block-slider
  margin-top: 40px
  position: relative
  .slick-track
    display: flex
  .slick-list
    min-height: 310px
.slider-btn
  display: block
  width: 30px
  height: 27px
  background: url('../img/icons/arrow-green.svg') no-repeat center/100%
  cursor: pointer
  position: absolute
  top: 35%
  z-index: 1
.slider-btn-right
  right: -2%
.slider-btn-left
  transform: rotate(-180deg)
  left: -2%
.block-slider-item
  margin: 0 15px
.block-slider-container
  max-width: 325px
  width: 100%
  background: $white
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.3)
  border-radius: 3px
  overflow: hidden
  transition: all 500ms ease-in-out
  cursor: pointer
.block-slider-container:hover
  box-shadow: 0 20px 40px rgba(198, 198, 198, 0.46)
  .block-slider-img a
    background: transparent
.block-slider-img
  height: 186px
  position: relative
  a
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #dedbdba6
  img
    height: 100%
    width: 100%
.block-slider-content
  padding: 0 30px
  height: 80px
  align-content: center
  background: $white
.block-slider-title
  color: $black
  font-size: 16px
  line-height: 24px
.block-slider-arrow
  display: block
  background: url('../img/icons/left.svg') no-repeat center/100%
  width: 40px
  height: 27px
.block-slider-content
  grid-template-columns: 1fr 40px
/* Project catalog */
.project-tab-header
  grid-template-columns: 1fr 113px
  padding-bottom: 5px
  margin-bottom: 30px
  align-items: center
.project-tab-header::-webkit-scrollbar,.vacancy-tab-header::-webkit-scrollbar,.vacancy-popup-cities::-webkit-scrollbar
  height: 3px
.project-tab-list,.current-product-nav,.vacancy-tab-list,.vacancy-popup-cities
  justify-content: flex-start
.project-tab-list-item:not(:last-of-type),.current-product-nav-item:not(:last-of-type),.vacancy-tab-list-item:not(:last-of-type),.vacancy-popup-cities-item:not(:last-of-type),.contacts-header-item:not(:last-of-type)
  margin-right: 3%
.project-tab-list-item,.current-product-nav-item,.vacancy-tab-list-item,.vacancy-popup-cities-item,.contacts-header-item
  padding: 5px 10px
  text-align: center
  cursor: pointer
  border: 2px solid transparent
.project-tab-list-item.active,.project-tab-list-item:hover,.current-product-nav-item:hover,.current-product-nav-item.active,.vacancy-tab-list-item.active,.vacancy-tab-list-item:hover,.vacancy-popup-cities-item.active,.vacancy-popup-cities-item:hover,.contacts-header-item.active,.contacts-header-item:hover
  border: 2px solid #8DD094
  border-radius: 3px
.project-gallery
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
  grid-column-gap: 30px
  display: none
  border-radius: 3px
  iframe
    width: 100%
    height: 100%
    border-radius: 3px
  .play
    background: url('../img/icons/play-green.svg') no-repeat center/30px #fff
    order: -1
  .youtube-text
    color: $white
    margin-top: 42px
    text-align: center
.project-gallery.active,.vacancy-list-container.active
  display: grid
.project-gallery-list
  grid-template-columns: repeat(3,1fr)
  grid-gap: 30px
  a
    display: block
    max-height: 110px
    width: inherit
  img
    display: block
    width: 100%
    height: 100%
    max-height: inherit
    border-radius: 3px
    object-fit: cover
/* Lead form */
section.lead-form
  padding-top: 0
  &>.container
    padding-bottom: 50px
.thank-you
  display: none
  padding: 60px 0
.lead-form-title
  color: $black
  font-size: 36px
  line-height: 28px
  margin-bottom: 15px
section.lead-form.white-bg
  padding-top: 0
  .lead-form-title
    padding-top: 20px
.lead-form-info
  font-size: 18px
  line-height: 24px
  color: #656565
.lead-form-header
  grid-template-columns: 2fr 1fr
  grid-gap: 30px
.lead-form-img
  img
    width: 100%
    margin-top: -25px
.lead-form-header-container
  padding-top: 57px
.lead-form-container
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr))
  grid-gap: 30px
.lead-form-submit,.lead-form-input
  @include reset-button
  display: block
  width: -webkit-fill-available
  padding: 20px 30px
  border-radius: 3px
  font-size: 18px
.lead-form-submit:hover
  color: $white
.lead-form-input
  background: $white
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
.lead-form-submit
  cursor: pointer
  color: $white
  font-weight: bold
  background: #015114
  text-align: center
.lead-form-submit:hover
  background: #3eb54b
section.large-lead-form
  padding-bottom: 130px
  .lead-form-header-container
    padding-top: 134px
/* Main about */
.main-about
  grid-template-columns: 1fr 1fr
  grid-gap: 30px
.main-about-block-header
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(194, 219, 204, 0.3)
  border-radius: 3px
  padding: 30px
.main-about-footer
  grid-template-columns: 1fr auto
  padding: 30px
  align-items: center
  box-shadow: 0 10px 20px rgba(194, 219, 204, 0.3)
  border-radius: 3px
.main-about-block-content
  p
    margin-bottom: 0
.main-about-block:not(:last-of-type)
  margin-bottom: 55px
.main-about-block:first-of-type .main-about-footer
  background: url('../img/_src/main/build-blocks/block-1.jpg') no-repeat  center 90%/110%
.main-about-block:last-of-type .main-about-footer
  background: url('../img/_src/main/build-blocks/block-2.jpg') no-repeat  center 80%/110%
.main-about-item:last-of-type
  border: 2px solid #F1F1F1
  border-radius: 3px
  padding: 30px
  .main-about-footer
    padding: 35px 0 0 0
    box-shadow: none
.equipment-list
  margin-top: 25px
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
.link-block
  grid-template-columns: 144px 1fr
  grid-gap: 30px
.link-block-subtitle
  color: #015114
  display: block
  text-decoration: none
.link-block-title
  font-size: 16px
  line-height: 20px
  text-decoration: none
  color: $black
//How work
.how-work
  background: #F4F4F4
.how-work-steps
  margin-top: 70px
  background: url('../img/_src/main/how-work/how-work-line.svg') no-repeat top left/100%
  grid-template-columns: repeat(3,1fr)
  grid-column-gap: 6%
  grid-row-gap: 100px
  padding: 85px 20px 0 20px
.how-work-steps-item
  grid-template-columns: auto 1fr
  grid-gap: 30px
.how-work-number
  font-size: 72px
  color: #FCBD6D
  font-weight: bold
  padding-top: 15px
.how-work-steps-title
  margin-top: 0
.how-work-content
  max-width: 342px
/* Advantages company */
.advantages
  z-index: 1
  position: relative
.advantages-company
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
  grid-gap: 30px
  margin-bottom: 55px
  position: relative
  z-index: 1
.advantages-subtitle
  margin-bottom: 21px
.advantages-company-item
  border-radius: 3px
  iframe
    width: 100%
    height: 100%
    border-radius: 3px
  .play
    background: 35% center/50px no-repeat url(../img/icons/play-white.svg) #015114
  .youtube-text
    order: -1
    max-width: 357px
    margin-top: 75px
    margin-left: 35%
  .youtube-container
    flex-direction: column
    justify-content: flex-start
    align-items: center
    height: 100%
.advantages-list
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr))
  background: #FFFFFF
  box-shadow: 0 10px 40px rgba(199, 199, 199, 0.4)
  border-radius: 3px
.advantages-list-item
  padding: 30px
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05)
  text-align: center
  bacgkround-color: #fff
.advantages-img
  position: relative
  margin-bottom: 30px
  img
    max-width: 80px
.advantages-number
  display: block
  width: 30px
  height: 30px
  text-align: center
  background: #FCBD6D
  line-height: 33px
  color: $white
  border-radius: 50%
  position: absolute
  top: -15px
  left: 20%
.advantages-title
  font-size: 16px
  line-height: 20px
  text-align: center
  color: #000000
  font-weight: bold
  margin-bottom: 30px
.advantages-list-item:first-of-type
  .advantages-title
    margin-bottom: 10px
//Partners
.partners-list-item img
  background: #F4F4F4
  width: 100%
.partners-main
  margin-top: -100px
.partners-list
  padding: 98px 0 50px 0
  &>.grid-container
    grid-template-columns: repeat(auto-fit,200px)
    align-items: center
.partners-title
  margin-bottom: 60px
  text-align: center
/* History Success */
.history-success-header
  grid-gap: 150px
  margin-bottom: 60px
.history-success-title
  font-size: 48px
  line-height: 60px
  margin-top: 0
.history-success-info
  font-size: 24px
  line-height: 36px
.history-success-footer,.history-success-header
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
.history-success-item
  grid-gap: 30px
  border: 1px solid #E2E2E2
  padding: 60px
  grid-template-columns: repeat(2,1fr)
.history-success-item:first-of-type
  border-right-color: transparent
.history-success-img
  max-width: 277px
.history-success-content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.bold-percent
  color: $black
  font-weight: bold
  font-size: 60px
  line-height: 60px
  display: block
  width: 100%
  margin-bottom: 37px
//Specialists
.specialists
  position: relative
.specialists-img
  border-radius: 3px
  background-color: $white
  overflow: hidden
  transition: all 500ms ease-in-out
  &:hover
    box-shadow: 0 20px 40px rgba(200, 200, 200, 0.3)
  img
    height: 231px
    object-fit: cover
    object-position: center
.specialists-slider-item
  margin: 0 15px
  text-align: center
  cursor: pointer
.specialists-title
  font-weight: bold
  font-size: 16px
  line-height: 20px
  margin-top: 30px
//Sertificates
.sertificates
  background: #F4F4F4
.sertificates-gallery,.sertificates-list
  margin-top: 30px
  grid-template-columns: repeat(6,1fr)
  grid-gap: 30px
.sertificates-gallery img:first-of-type,.sertificates-gallery a:first-of-type,.sertificates-list-item-first
  grid-column-start: 1
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 3
  display: block
  width: 100%
  height: 100%
//Last news
.last-news-list
  margin-top: 60px
  grid-template-columns: repeat(3,1fr)
  grid-gap: 30px
.last-news-list-item
  img
    height: 95px
    object-fit: cover
//Footer
#footer
  background: #00542C
  padding: 50px 0
.footer-item-first
  flex-direction: column
.copyright
  color: #9DB8A0
  font-size: 12px
  line-height: 20px
.footer-title
  margin-top: 0
  color: $white
  margin-bottom: 30px
.footer-menu-item
  a
    color: #9DB8A0
    text-decoration: none
.mobile-copyright
  display: none
//Page banner
div.service-banner-img
  img
    max-width: 1024px
    top: 20%
.page-banner-bg
  background: url('../img/_src/services-page/main-banner/main-bg.png') no-repeat top right/50% 100%
.page-banner
  &>.grid-container
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
    grid-gap: 30px
  .title
    margin-bottom: 65px
  .toggle-lead
    &::after
      content: ''
      display: inline-block
      width: 40px
      height: 40px
      background: url('../img/icons/arrow-dark-green.svg') no-repeat center/100%
      position: absolute
      right: -80px
      top: 20%
.toggle-lead
  position: relative
  margin-top: 65px
.page-banner-content
  max-width: 440px
  font-size: 16px
.page-banner-item
  position: relative
  img
    position: absolute
    right: calc(100%/-9)
    height: 100%
    width: max-content
    max-width: 785px
    object-fit: cover
  img
    height: 100%
.breadcrumbs
  justify-content: flex-start
  margin-bottom: 50px
  a
    text-decoration: none
.breadcrumbs-item
  margin-right: 10px
  i
    padding-left: 10px
    font-size: 11px
/* Service info block */
.service-info-block-title
  margin: 30px 0
.service-info-block-item
  p
    font-size: 18px
    line-height: 30px
  img
    width: 100%
    height: 100%
.service-info-content

.service-info-block
  padding-top: 50px
  padding-bottom: 50px
  &>.grid-container
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
    grid-gap: 30px
.service-info-block-price
  &>.grid-container
    grid-template-columns: 2fr 1fr
    grid-gap: 30px
.service-info-price
  background: #E9E9E9
  padding: 30px
  .bold-percent
    font-size: 40px
    margin-bottom: 20px
.service-info-block-btn
  margin-top: 0
  width: -webkit-fill-available
.service-info-price-title
  font-size: 36px
  line-height: 40px
  margin-bottom: 20px
.service-info-title
  font-size: 18px
  line-height: 24px
  margin-bottom: 20px
/* Reviews title */
.video-reviews-title
  margin-bottom: 60px
.video-reviews-list,.video-reviews-grid
  grid-template-columns: repeat(3,1fr)
  grid-gap: 30px
.video-reviews-list-item
  .youtube
    border-radius: 3px
  iframe
    width: 100%
    height: 320px
    border-radius: 3px
.video-review-video
  height: 320px
  .play
    background-size: 50%
    background-position-x: 40%
.video-reviews-list-title
  margin-top: 30px
  margin-bottom: 10px
/* Popups */
.lead-popup-container
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  background-color: #020202a1
  z-index: 3
  &>.flex-container
    width: 100%
    height: 100%
    justify-content: center
    align-content: center
.lead-popup-header,.lead-popup-img
  position: relative
.lead-popup-footer,.lead-popup-header
  padding: 5% 6%
.lead-popup-wrapper
  width: 90%
  overflow: hidden
.close-popup
  position: absolute
  top: 15%
  right: 5%
  font-size: 30px
  cursor: pointer
  color: $black
.lead-popup-img
  img
    position: absolute
    right: -37%
    top: 24px
    margin-top: 0
//Product links
.products-links
  padding-top: 20px
  padding-bottom: 20px
  grid-template-columns: repeat(auto-fill,220px)
  grid-gap: 10px
//Own catalog
.own-catalog-item
  margin: 0
.own-catalog-list
  grid-template-columns: repeat(auto-fit,320px)
  grid-gap: 30px
.own-catalog-img
  a
    background: none
/* Current products */
.current-product-header
  padding: 12px 30px
.current-product-main
  margin-top: 74px
  grid-template-columns: 1fr 1.5fr 1fr
  grid-gap: 30px
.current-product-img
  img
    box-shadow: 0 10px 20px rgba(194, 219, 204, 0.3)
    border-radius: 3px
    width: 100%
    height: 100%
    object-fit: cover
.current-product-info
  background: rgba(194, 219, 204, 0.3)
  border-radius: 3px
  padding: 30px
  .bold-percent
    font-size: 25px
    margin-bottom: 40px
    line-height: 25px
.current-product-char
  ol:not([class])
    li
      margin-bottom: 30px
.current-description
  padding-top: 50px
  .current-product-header
    margin-bottom: 30px
.current-description-content
  p
    font-size: 16px
.tech-char
  .current-product-header
    margin-bottom: 58px
.tech-char-title
  margin-bottom: 70px
.tech-char-first-title
  margin-bottom: 36px
.table-char-td-v1,.table-char-v2-td,.table-char-v3-td
  padding: 5px
  color: $black
  font-size: 16px
.table-char-header-v1,.table-char-v3-header
  .table-char-td-v1,.table-char-v3-td
    font-weight: bold
    color: $black
    font-size: 21px
.table-char-td-v1-empty
  width: 7%
  border: none
.table-char-v1,.table-char-v2,.table-char-v3
  border-collapse: collapse
  width: 100%
.table-char-v1
  margin-bottom: 80px
.table-char-body-v1,.table-char-v3-body
  .table-char-td-v1,.table-char-v3-td
    border-right: 3px solid #F1F1F2
  .table-char-tr-v1:nth-child(odd)
    background: #DCDDDF
    .table-char-td-v1:first-child
      background: #00622E
      color: $white
  .table-char-tr-v1:nth-child(even)
    background: #f3f3f3
    .table-char-td-v1:first-child
      background: #a1bda4
      color: $white
.table-char-td-v1:first-child,.table-char-td-v1:last-child,.table-char-td-v1:nth-child(2),.table-char-v3-td:first-child,.table-char-v3-td:last-child
    border: none
.table-char-body-v1 .table-char-td-v1:first-child
  color: $white
.table-char-td-v1:not(:nth-child(2))
  text-align: center
.table-char-v2
  text-align: center
  margin-bottom: 60px
.table-char-v2-td
  border-right: 3px solid  #E8E8E8
.table-char-v2-td:first-child,.table-char-v2-td:last-child
  border: none
.table-char-v2-head
  font-weight: bold
  font-size: 18px
  text-align: center
  .table-char-v2-td:first-child
    background: #00622E
    color: $white
.table-char-v2-tr:nth-child(odd)
  background: #DCDDDF
.table-char-v2-tr:nth-child(even)
  background: #f3f3f3
.table-char-v3-td:first-child
  text-align: center
  width: 25px
.table-char-v3-body
  .table-char-v3-tr:nth-child(even)
    background: #DCDDDF
    .table-char-v3-td:first-child
      background: #00622E
      color: $white
  .table-char-v3-tr:nth-child(odd)
    background: #f3f3f3
    .table-char-v3-td:first-child
      background: #a1bda4
      color: $white
.table-char-v3-header
  .table-char-v3-td:nth-child(3),.table-char-v3-td:nth-child(4),.table-char-v3-td:nth-child(5),.table-char-v3-td:nth-child(6)
    background: #DCDDDF
  .table-char-v3-td:nth-child(3)
    border-right: 3px solid #F1F1F2
    padding-left: 20px
  .table-char-v3-td:nth-child(4),.table-char-v3-td:nth-child(5)
    border: 3px solid #F1F1F2
    border-left: 0
    border-top: 0
  .table-char-v3-tr:first-child
    .table-char-v3-td:nth-child(6)
      border-bottom: 3px solid #F1F1F2 !important
.table-char-v3-td:nth-child(3),.table-char-v3-td:nth-child(4),.table-char-v3-td:nth-child(5),.table-char-v3-td:nth-child(6)
  text-align: center
.mobile-table-v1,.mobile-table-v2,.mobile-table-v3
  display: none
.mobile-table-v1,.mobile-table-v3
  margin-bottom: 20px
.mobile-table-v1-title,.mobile-table-v3-title
  color: $black
  font-size: 12px
  font-weight: bold
.mobile-table-v1-char,.mobile-table-v3-char
  font-size: 12px
.mobile-table-v1-char-item-head:nth-child(even),.mobile-table-v1-char-item-info:nth-child(even),.mobile-table-v3-char-item-head:nth-child(even),.mobile-table-v3-char-item-info:nth-child(even)
  color: $black
.mobile-table-v1-head,.mobile-table-v1-wrapper,.mobile-table-v3-wrapper,.mobile-table-v3-head
  grid-template-columns: 38px 1fr
.mobile-table-v1-char-head,.mobile-table-v1-char-body,.mobile-table-v3-char-head,.mobile-table-v3-char-body
  grid-template-columns: repeat(2,1fr)
.mobile-table-v1-item,.mobile-table-v2-head,.mobile-table-v2-item,.mobile-table-v3-item
  padding: 10px 15px
.mobile-table-v1-head,.mobile-table-v3-head
  font-weight: bold
  color: $black
  font-size: 14px
  line-height: 36px
.mobile-table-v1-wrapper:nth-of-type(odd),.mobile-table-v3-wrapper
  .mobile-table-v1-item:first-child,.mobile-table-v3-item:first-child
    background: #00622E
  .mobile-table-v1-item:last-child,.mobile-table-v3-item:last-child
    background: #dcdddf
.mobile-table-v1-wrapper:nth-of-type(even),.mobile-table-v3-wrapper:nth-of-type(even)
  .mobile-table-v1-item:first-child,.mobile-table-v3-item:first-child
    background: #a1bda4
  .mobile-table-v1-item:last-child,.mobile-table-v3-item:last-child
    background: #f1f1f2
.mobile-table-v1-item:first-child,.mobile-table-v3-item:first-child
  text-align: center
.mobile-table-v1-wrapper,.mobile-table-v3-wrapper
  .mobile-table-v1-item:first-child,.mobile-table-v3-item:first-child
    color: $white
.mobile-table-v2-head
  background: #00622e
  color: $white
  text-align: center
  font-weight: bold
  font-size: 16px
.mobile-table-v2-item:nth-child(odd)
  background: #dcdddf
.mobile-table-v2-item:nth-child(even)
  background: #f1f1f2
.mobile-table-v2-main
  font-size: 12px
.mobile-table-v2-name
  color: $black
  font-weight: bold
.mobile-table-v2
  margin-bottom: 20px
//About company
.about-company
  .breadcrumbs
    margin-bottom: 0
.about-company-title,.partners-page-title
  margin-top: 0
.about-company-advantages-list
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
  grid-gap: 30px
  margin-bottom: 90px
  margin-top: 49px
.about-company-advantages-list-item
  grid-template-columns: 81px 15px 1fr
  grid-gap: 10px
  position: relative
.about-company-advantages-star
  color: #199525
  font-size: 13px
.about-company-advantages-number
  color: #F3F3F3
  font-weight: bold
  font-size: 144px
  line-height: 120px
.about-company-info
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr))
  grid-gap: 30px
  font-size: 18px
.about-company-container
  .about-company-info-item
    li:not(:last-child)
      padding-bottom: 10px
      border-bottom: 1px solid #D8D8D8
.list-title
  font-weight: bold
  color: $black
.about-company-info-title
  color: $black
  margin-bottom: 40px
  font-weight: bold
  font-size: 64px
  line-height: 55px
.about-company-info-item
  img
    width: 100%
    height: 100%
    display: block
    object-fit: cover
//About news
.about-news-subtitle
  text-align: center
  margin-bottom: 60px
.about-news-list,.about-news-item
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
.about-news-list
  margin-bottom: 30px
.about-news-img
  img
    width: 100%
    height: 100%
    display: block
    object-fit: cover
    border-radius: 2px
.about-news-content
  a
    text-decoration: none
.about-news-title
  color: $black
  font-weight: bold
  font-size: 24px
  line-height: 30px
  margin-bottom: 20px
  display: block
.about-news-date
  margin-bottom: 20px
  display: block
//Vacancy
.vacancy-banner
  p,.list-title
    font-size: 18px
    color: $black
.vacancy-container
  &>.grid-container
    background: url('../img/_src/vakansion/bg.svg') no-repeat bottom right/60%
    grid-template-columns: 2fr 1fr
    grid-gap: 30px
.vacancy-list-container
  display: none
  grid-gap: 30px
  grid-template-columns: repeat(auto-fit,320px)
  justify-content: start
.vacancy-tab-header
  padding-bottom: 5px
  margin-bottom: 30px
.vacancy-item
  cursor: pointer
  padding: 30px
  box-shadow: 0 10px 20px rgba(136, 149, 141, 0.15)
  border-radius: 3px
  background: $white
.vacancy-item-title
  color: $black
  font-weight: bold
  font-size: 18px
  line-height: 24px
  margin-bottom: 20px
.vacancy-advantages
  margin: 80px 0 40px 0
//Vacancy popup
.vacancy-popup
  height: 100%
  display: none
  background: url('../img/_src/vakansion/bg-popup.svg')   bottom right/contain $white no-repeat
.vacancy-popup-text
  ul
    li
      padding-left: 23px
      &:before
        width: 6px
        height: 6px
        top: 25%
  p
    margin-bottom: 5px
.vacancy-popup-wrapper
  font-size: 14px
  padding-top: 20px
  padding-bottom: 20px
  width: 100%
  &>.grid-container
    grid-template-columns: repeat(3,1fr)
    grid-gap: 30px
.vacancy-popup-title
  margin-bottom: 10px
.vacancy-popup-cities-item
  max-height: 24px
  border: none
.vacancy-popup-cities-item.active,.vacancy-popup-cities-item:hover
  border: none
  background: #19954A
  color: $white
.vacancy-popup-cities
  flex-wrap: nowrap
.close-popup-vacancy
  max-width: 40px
  transform: rotate(-180deg)
  margin-bottom: 24px
  cursor: pointer
.vacancy-popup-form
  margin-top: 63px
  max-width: 320px
.vacancy-form-input-container
  margin-bottom: 20px
.vacancy-form-input
  @include reset-button
  width: -webkit-fill-available
  color: #9C9C9C
  padding: 24px
  background: $white
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
  border-radius: 3px
  font-size: 18px
.vacancy-form-file-container
  grid-template-columns: 50px 177px
  grid-gap: 40px
  justify-content: start
  margin-bottom: 30px
  .wpcf7-form-control-wrap.your-file
    display: none
.vacancy-form-file
  display: block
  width: 50px
  height: 50px
  background: #efefef
  border-radius: 40px
  color: #199525
  text-align: center
  line-height: 47px
  font-weight: bold
  font-size: 20px
  cursor: pointer
.vacancy-form-submit
  background: #199525
  &:hover
    background: #015114
.vacancy-contact
  font-size: 18px
//Partners page
.partners-page-list
  grid-template-columns: repeat(auto-fit,200px)
  grid-gap: 30px
  align-items: center
//Contacts
section.contacts-tab
  padding-top: 32px
.contacts-header
  padding-bottom: 30px
  border-bottom: 1px solid #E9E9E9
  position: relative
  &:before
    content: ''
    border: 1px solid transparent
    border-bottom: 1px solid #E9E9E9
    border-left: 1px solid #E9E9E9
    display: block
    width: 5px
    height: 5px
    transform: rotate(-45deg)
    background: $white
    position: absolute
    bottom: -5px
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    text-align: center
  &>.flex-container
    justify-content: flex-start
section.contacts-banner
  padding-bottom: 0
.contacts-wrapper
  display: none
  padding-top: 50px
.contacts-wrapper.active
  display: block
.contacts-item-header-info
  grid-template-columns: 35px 1fr
  grid-gap: 25px
  align-items: center
  margin-bottom: 40px
.mobile-text-contact
  display: block
.mobile-text-contact
  font-weight: bold
  text-decoration: none
  color: $black
  font-size: 14px
.mobile-icon.adress
  background-image: url('../img/icons/build.svg')
.mobile-icon.mail
  background-image: url('../img/icons/mail.svg')
.contacts-item-header.req
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
.contacts-wrapper-header
  margin-bottom: 40px
.contacts-req,.contacts-socials
  background: #FFFFFF
  box-shadow: 0 0 20px rgba(194, 219, 204, 0.3)
  border-radius: 3px
  padding: 20px
.contacts-req
  grid-row-start: 1
  grid-row-end: 3
.contacts-req-title
  color: $black
  text-align: center
  font-size: 24px
  font-weight: bold
  margin: 25px 0
.contacts-req-list
  width: max-content
  margin: 10px auto
.contacts-req-item
  margin-bottom: 15px
.contacts-socials
  grid-template-columns: 55px 144px
  grid-gap: 20px
  align-content: center
.blue-text,.red-text
  text-decoration: none
  font-weight: bold
.red-text
  color: red
.blue-text
  color: #15b6d0
.contacts-wrapper-main
  height: 500px
  margin-bottom: 60px
  iframe,div,img
    width: 100%
    height: 100%
.contacts-accordion-title
  text-align: center
  max-width: 498px
  font-size: 36px
  line-height: 48px
  color: $black
  margin: 0 auto
.contacts-accordion
  margin: 30px auto 130px auto
  max-width: 990px
.accordion-toggle
  position: absolute
  cursor: pointer
  display: block
  transition: all 500ms ease-in-out
.accordion-content
  display: none
  margin-top: 30px
.accordion-header
  position: relative
  cursor: pointer
.accordion-item
  border-top: 1px solid #F3F3F3
  padding: 30px 0
.contacts-accordion-header
  color: #595959
  font-weight: 300
  font-size: 24px
.contacts-accordion-toggle
  width: 30px
  height: 20px
  background: url('../img/icons/left.svg') no-repeat 100% center
  right: 20px
  top: 40%
.contacts-accordion-toggle.active
  transform: rotate(90deg)
.contacts-accordion-content
  &>.grid-container
    grid-template-columns: repeat(3,1fr)
    grid-gap: 30px
.contacts-accordion-content-item
  grid-template-columns: repeat(2,auto)
  grid-gap: 25px
  justify-content: start
.contacts-user
  max-width: 50px
//New page
section.about-news-page
  padding-top: 30px
//Rewiews page
.sertificates.reviews-page
  background: $white
//Rewards page
.rewards-list
  grid-template-columns: repeat(4,1fr)
  grid-gap: 30px
//Project-gallery page
.project-page-list
  grid-template-columns: 2.7fr 1fr 2fr
  grid-column-gap: 30px
  margin-bottom: 50px
  .project-gallery-list
    grid-template-columns: 1fr
.project-gallery-content
  p:first-of-type
    margin-top: 20px
.project-page.project-gallery.active
  display: block
.project-page.project-gallery
  .project-page-list
    display: none
  .project-page-list:nth-child(1),.project-page-list:nth-child(2),.project-page-list:nth-child(3),.project-page-list:nth-child(4),.project-page-list:nth-child(5),.project-page-list.active
    display: grid
.projects-more
  display: block
//Repair page
.partners-repair-list,.partners-dillers-list
  padding-top: 50px
.repair-info
  font-size: 18px
//Dillers
.dillers-social
  font-size: 14px
  grid-template-columns: repeat(auto-fit,215px)
  justify-content: start
.dillers-info
  margin-top: 40px
//FAQ
.accordion-faq-header
  margin: 0
  padding-left: 35px
.faq-accordion-toggle
  left: 0
  top: 15%
  font-size: 14px
  color: #199525
.faq-accordion-toggle.active
  transform: rotate(-90deg)
//Pays page
.pay-advantages-list-item
  grid-template-columns: 81px 1fr
.pay-advantages-list
  margin-bottom: 0
.pay-methods-list
  margin-top: 40px
  grid-template-columns: repeat(3,1fr)
  grid-gap: 30px
.pay-methods-img
  width: 50px
  height: 50px
.pay-methods-list-item
  background: #F3F3F3
  border-radius: 3px
  padding: 30px
//Our clients
.our-clients-list
  grid-template-columns: repeat(auto-fit,322px)
.our-clients-list-item
  border-radius: 3px
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  height: 185px
  border: 1px solid #E9E9E9
  img
    max-width: 200px
.our-clients-title
  color: $black
  text-align: center
  text-transform: uppercase
  font-size: 18px
//Blog
.blog-sidebar
  border-radius: 3px
  overflow: hidden
.blog-container
  grid-template-columns: 250px 1fr
  grid-gap: 30px
.blog-post-list
  margin: 0
  margin-bottom: 50px
  display: none
  &.active
    display: block
.blog-grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
.blog-nav-item
  padding: 15px
  font-size: 13px
  border: 1px solid  #E9E9E9
  cursor: pointer
.blog-nav-item.active,.toggle-blog
    border: 1px solid transparent
    background: #199525
    color: $white
.toggle-blog
  padding: 15px
  grid-template-columns: 20px 1fr
  grid-gap: 15px
  margin-bottom: 5px
  cursor: pointer
  display: none
  .toggle-dec
    background: $white
.toggle-blog.active
  .toggle-dec:nth-of-type(2)
    display: none
  .toggle-dec:nth-of-type(1)
    transform: rotate(50deg)
  .toggle-dec:nth-of-type(3)
    transform: rotate(-50deg)
    margin-top: -5px
//Blog page
.blog-page-breadcrumbs
  .breadcrumbs
    justify-content: center
    margin-bottom: 25px
.blog-page-banner-title
  margin: 0 0 43px 0
  text-align: center
.blog-page-banner-img
  border-radius: 3px
  overflow: hidden
  max-height: 434px
  img
    width: 100%
    height: 100%
    display: block
    object-fit: cover
section.blog-page-content,.seo-block-container
  padding-top: 30px
  h1,h2,h3,h4,h5,.h1-title,.h2-b-title,.h3-title,.h4-title,.h5-title,blockquote,.blog-page-content-info,.blog-page-content-two-b
    margin-bottom: 30px
.blog-page-content-info
  grid-template-columns: repeat(3,1fr)
  grid-gap: 30px
  background: rgba(194, 219, 204, 0.3)
  margin-bottom: 30px
.blog-page-content-info-item
  padding: 30px
  &:not(:last-of-type)
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05)
.blog-page-content-two-b
  grid-template-columns: auto auto
  grid-gap: 30px
//Not found
.notfound
  text-align: center
.notfound-title
  font-size: 6em
.notfound-subtitle
  font-size: 2em
  color: $black
.not-found-btn
  margin: 30px auto
//Seo block
.seo-block-container
  overflow: hidden
.seo-more
  margin: 20px auto
  display: block
@import 'media'